---
layout: page
title: Classes
---

<p>This section gathers the latest posts.</p>

<div class="posts">
    {% capture currentyear %}{{ site.currentclass.year }}{% endcapture %}
    
    {% for post in site.posts %}
        {% capture postyear %}{{ post.date | date: '%Y' }}{% endcapture %}
        <!--This means, this is the current year-->
        {% unless post.visible == false %}
          {% unless post.next %}
            <h3> {{ postyear }}</h3>
           {% else %}
	        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
	        {% if postyear != nyear %}
	          <h3> {{ post.date | date: '%Y' }}</h3>
            {% else %}
            <br>
	       {% endif %}
	      {% endunless %}
        

        <a href="{{ post.url }}">{{ post.title }}</a>
    
        {% if postyear == currentyear %}
            <!--Only the first paragraph-->
            <div class="excerpt">
            <div class="excerpt-text">{{ post.excerpt }}</div>
            <a href="{{ post.url }}" class="btn btn-default btn-xl">continue...</a>
            </div>
        {% endif %}
      {% endunless %}
    {% endfor %}
    
</div>



<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
